<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>小萌神订餐网</title>
    <!-- 图标 -->
    <link rel="short icon" href="image/eat0.ico" />
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>

<div id="app">

    <div class="head">
        小萌神订餐网
        <div class="right">
            <span class="showlogin" id="showlogin" @click="showLogin(true)" v-if="!userflag">登录</span>
            <span class="showlogin"  v-else>欢迎，{{username}}</span>
            <span id="exitspan" style="display:none"></span>
        </div>
    </div>
    <div class="content">
        <ul class="allfoods" id="allfoods">
            <li v-for="food in foods">
                <h3 @click="showfood(food.fid)">{{food.fname}}</h3>
                <div :id=`fid${food.fid}` class="fooddesc" v-show="food.status">
                    <img :src=`image/${food.fphoto}` class="foodimg" />
                    <article class="foodprice">
                        <p>菜品描述：{{food.detail}}</p>
                        <p class="normalprice">原价：￥{{food.normprice}}</p>
                        <p class="realprice">特价：￥{{food.realprice}}</p>
                        <p class="buybtn" @click="addCart(food.fid,1)">加入购物车</p>
                    </article>
                </div>
            </li>
        </ul>
    </div>
    <!--  <div class="look">浏览记录</div> -->
    <div class="shoppingcar">
        <div class="carbag" id="carbag">
            <p>购物车<span id="del" @click="clearAllOp()">[清空]</span></p>
            <table id="bagcontent" cellpadding="0" cellspacing="0">
                <tr v-for="cartfood in cartfoods">
                    <td>{{cartfood.food.fname}}</td>
                    <td>
                        <input type="button" value="-" @click="addCart(cartfood.food.fid,-1)">
                        {{cartfood.num}}
                        <input type="button" value="+" @click="addCart(cartfood.food.fid,1)">
                    </td>
                    <td class="bagprice">
                        {{cartfood.smallCount}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="carprice">￥{{cartprice}}</div>
        <div class="carinfo" v-if="cartfoods.length<=0">购物车是空的</div>
        <div class="carinfo" v-else @click="showOrder(true)">立即下单</div>
    </div>
    <div class="footer">
        Copyright © 2016 Xiaomengsheng Incorporated Company. All rights reserved.
        <br />
        订餐，就上小萌神订餐网!
    </div>

    <div class="login" id="login" v-if="loginflag">
        <span id="unshow">X</span>
        <form name="myform">
            <table>
                <tr>
                    <td class="labname"><label for="username">用户名：</label></td>
                    <td><input type="text" v-model="username" placeholder="请输入用户名"
                               id="username" /></td>
                </tr>
                <tr>
                    <td class="labname"><label for="pwd">密码：</label></td>
                    <td><input type="password" v-model="pwd" placeholder="请输入密码"
                               id="pwd" /></td>
                </tr>
                <tr>
                    <td class="labname"><label for="yzm">验证码：</label></td>
                    <td><input type="text" v-model="yzm" placeholder="请输入验证码"
                               id="yzm" /></td>
<!--                    验证码与后台对接-->
                    <td><img src="verifyCodeServlet"
                             id="yzm_img" /></td>
                </tr>
            </table>
        </form>
        <input type="button" value="login" class="btn" id="btn" @click="login()"/>
    </div>

    <!-- 订单信息 -->
    <div class="login" id="myinfo" v-if="orderflag">
        <span id="unshowinfo" @click="showOrder(false)">X</span>
        <form name="forminfo">
            <table>
                <tr>
                    <td class="labname"><label for="address">送货地址:</label></td>
                    <td><input name="address"  type="text" placeholder="请输入送货地址" id="address" v-model="address"/></td>
                </tr>
                <tr>
                    <td class="labname"><label for="tel">联系电话:</label></td>
                    <td><input type="text"  id="tel" placeholder="请输入联系电话" name="tel"  v-model="tel"/></td>
                </tr>
                <tr>
                    <td class="labname"><label for="deliverytime" >送货时间:</label></td>
                    <td><input type="text"  name="deliverytime" id="deliverytime" placeholder="请输入送货时间（默认马上发货）时间格式：yyyy-MM-dd HH:mm"  v-model="delivertimeString"/></td>
                </tr>
                <tr>
                    <td class="labname"><label for="ps" >附言:</label></td>
                    <td><input type="text" id="ps" placeholder="请输入附言" name="ps" v-model="ps"/></td>
                </tr>
            </table>
        </form>
        <input type="button" value="提交" class="btn"  id="submit" @click="confirmOrder()">
    </div>

</div>

<!--  在网页里面引入javascript    jquery:DOM   大家注意顺序  -->
<script src="js/jquery-1.9.1.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script type="text/javascript">
    let vm=new Vue({
        el:"#app",
        data:{
            address:'',
            tel:'',
            delivertimeString:'',
            ps:'',
            username:'',    //如果登录了，则记录当前登录的用户名
            pwd:'',
            yzm:'',
            userflag:false, //登录后显示用户的信息层
            foods:{},   //系统中所有的菜品
            orderflag:false,     //送货地址div
            loginflag:false ,    //登录div
            cartfoods:[],       //购物车中所有的物品
            cartprice:0.0,      //购物车中所欲商品的总价
            username:'',//如果登录了，则记录当前登录的用户名
        },
        mounted: function () {
            axios.all([checkLogin(),getAllFood()])
                .then(axios.spread((d1,d2)=>{//如果这里使用function则this指的是windows，如果是new，则指的是vue
                    //两个请求现在都执行完成
                    if(d1.data.code==1){
                        var user=d1.data.obj;
                        //将登录用户信息显示到界面
                        this.username=user.username;
                        this.userflag=true;
                        this.showCartInfo();//调用显示购物车
                    }
                    if(d2.data.code==1){
                        d2.data.obj.forEach((item,index) => {
                            item.status=false;
                        });
                        this.foods=d2.data.obj;
                    }
                }));

        },
        methods:{
            confirmOrder(){
                let params=new URLSearchParams();
                params.append("tel",this.tel);
                params.append("address",this.address);
                params.append("delivertimeString",this.delivertimeString);
                params.append("ps",this.ps);
                axios.post('confirmOrder',params).then(response=>{
                    if(response.data.code==0){
                       alert("下单失败，原因："+response.data.msg);
                       return;
                    }
                    alert("下单成功")
                    this.orderflag=false;
                    this.cartfoods=[];
                    this.cartprice=0.0;
                })
            },
            //清除购物车
            clearAllOp(){
                let params=new URLSearchParams();
                axios.post('clearAll',params).then(response=>{
                    if(response.data.code==1){
                        this.cartfoods=[];
                        this.cartprice=0.0;
                    }
                })
            },
            logout:function(){//退出
                let params=new URLSearchParams();
                axios.post('logout',params).then(response=>{
                    if(response.data.code==1){
                        this.loginflag=false;
                        this.userflag=false;
                        this.username='';
                        this.pwd='';
                        this.yzm='';
                    }
                })
            },
            login: function(){//登录
                let params=new URLSearchParams();
                params.append("username",this.username);
                params.append("pwd",this.pwd);
                params.append("valcode",this.yzm);
                axios.post('login',params).then(response=>{
                    if(response.data.code==0){
                       alert("登录失败，原因："+response.data.msg)
                        return;
                    }
                    this.loginflag=false;
                    this.userflag=true;
                });

            },
            showLogin: function(flag){
                this.loginflag = flag;
            },
            showfood:function(fid){
                this.foods.forEach((item,index) => {
                    item.status= fid==item.fid;
                });
            },
            addCart:function(fid,num){//添加购物车
                let params=new URLSearchParams();
                params.append("fid",fid);
                params.append("num",num);
                axios.post('orderJson',params).then(response=>{
                    if(response.data.code==0){
                        alert("添加"+fid+"购物车失败");
                        return;
                    }
                    this.showCartInfo();//调用显示购物车
                });
            },
            showCartInfo:function () {
                let params=new URLSearchParams();
                axios.post('getCartInfo',params).then(response=>{
                    if(response.data.code==0){
                        return;
                    }
                    this.cartfoods=response.data.obj;
                    this.cartprice=0.0;
                    if(this.cartfoods!=undefined){
                        this.cartfoods.forEach((item,index)=>{
                            this.cartprice+=item.smallCount;
                        })
                    }

                })
            },
            showOrder:function (flag) {
                //没有登录，则到登录页
                if(this.username==null||this.username==''){
                    alert('请先登录');
                    return;

                }
                //登录了，则显示订单页
                this.orderflag=flag;
            }
        }
    });


    //检查登录状态
    function checkLogin() {
        return axios.get("checkLogin");
    }

    //查找所有的菜
    function getAllFood() {
        return axios.get("findAllFoods");
    }
</script>


<script>

    //事件冒泡的阻止：因为shoppingcar是外面的大层，它的上面有一个click事件监听，
    // 所以carbag是内部的层，它上面也有click事件，这里carbag的click事件会被冒泡
    //到shoppingcar中捕捉
    $("#carbag").on("click",function(even){
       event.stopPropagation();
    });

    //绑定事件
    $(".shoppingcar").on("click",function (){
        if($("#carbag").css("bottom")=="-300px"){
            $("#carbag").css("bottom","50px");
        }else {
            $("#carbag").css("bottom","-300px");
        }
    });
</script>

</body>
</html>